@model DocFingerPrinterBeta.ViewModels.FileUploadViewModel
@{
    ViewBag.Title = "FileUpload";
}
<script type="text/javascript">
    function validate_radios() {

        var radio1 = document.getElementById("radio1").checked;
        var radio2 = document.getElementById("radio2").checked;
        var radio3 = document.getElementById("radio3").checked;
        var radio4 = document.getElementById("radio4").checked;

        if (radio1 || radio2 || radio3 || radio4) {

            return true;
        }
        else {
            alert("Please select one of the radio buttons");
            return false;
        }
    }
</script>


<h2>File Upload</h2>

<div>
    @using (Html.BeginForm("FileUpload", "ImageUpload", FormMethod.Post,
                                                 new { enctype = "multipart/form-data" }))
    {
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" style="width: 100%;" />

        <label>@Html.RadioButton("radio", 1, new { id = "radio1" })Top Right</label><br />
        <label>@Html.RadioButton("radio", 3, new { id = "radio3" })Bottom Right</label><br />
        <label>@Html.RadioButton("radio", 2, new { id = "radio2" })Bottom Left</label><br />
        <label>@Html.RadioButton("radio", 4, new { id = "radio4" })Top left</label><br />


        <input type="submit" value="Upload" class="submit-button" onClick="return validate_radios();">
        <div style="@Model.ShowErrorMessage(Model.errorMessage)" class="alert-danger">
            <strong>Error: </strong>@Model.errorMessage
        </div>
    }
</div>
<div>
    <a href="@ViewBag.Link" style="@ViewBag.Hidden">Download Encoded Image</a>
</div>