
@{
    ViewBag.Title = "FileUpload";
}

<h2>File Upload</h2>

<div>
    @using (Html.BeginForm("FileUpload", "ImageUpload", FormMethod.Post,
                                         new { enctype = "multipart/form-data" }))
    {
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" style="width: 100%;"/>

        <label>@Html.RadioButton("radio", 1)Top Right</label><br/>
        <label>@Html.RadioButton("radio", 3)Bottom Right</label><br/>
        <label>@Html.RadioButton("radio", 2)Bottom Left</label><br/>
        <label>@Html.RadioButton("radio", 4)Top left</label><br/>


        <button type = "submit" class="submit">Upload</button>
    }
</div>
<div>
    <a href="@ViewBag.Link" style="@ViewBag.Hidden">Download Encoded Image</a>
</div>